<magiumConfiguration xmlns="http://www.magiumlib.com/Configuration">
    <section identifier="authentication" label="Authentication" font-awesome="lock">
        <group identifier="ad" label="Active Directory">
            <element identifier="enabled" label="Enabled" type="select" source="Magium\Configuration\Source\Switches\EnableDisable">
                <description>Is the Magium Active Directory integration enabled?</description>
                <value>0</value>
            </element>
            <element identifier="client_id" label="Client ID">
                <description>You need to configure an application in Active Directory and enter its ID here</description>
            </element>
            <element identifier="client_secret" label="Client Secret">
                <description>When you created an application in Active Directory you should have received a one-time use key.  Enter that here.  </description>
            </element>
            <element identifier="directory" label="Directory">
                <description>Provide a directory ID if you are using your own Azure instance instead of Microsoft's global database.  The directory ID is usually found under the directory properties.</description>
                <value>common</value>
            </element>
            <element identifier="return_url" label="Return URL">
                <description>This is the URL you want Active Directory to redirect back to after authentication.</description>
            </element>
            <element identifier="remap_https" label="Remap HTTPS" type="select" source="Magium\Configuration\Source\Switches\YesNo">
                <description>Should the system remap HTTP-based URLs to HTTPS.  Azure Active Directory generally will not redirect to a non-secure URL.  Enabling this setting protects against that.</description>
                <value>1</value>
            </element>
        </group>
    </section>
</magiumConfiguration>
